<div class="row">
  <div class="col-md-2">
  <!-- <div id="sidebar"> -->
    <h1 class="text-center">Hold Types</h1>
    <h5 class="text-center">Click on each to view large image, description and rotational capabilities</h4>
    <div class="side-link">
    <!-- <ul> -->
      <li class="text-center hold" id="jug" onclick="setHold(event)" data-movement="A <b>Jug</b> is a horizontal rounded hold. Easiest of holds to pull down on it. Usually as wide as a whole hand, sometime used for matching, both hands on one hold.The movement is as if you were climbing up a ladder. The movement works best when you get lots of skin-to rock-friction. The use of chalk can increase friction. Practicing on these holds will help make your grip stronger and ready to pull on other types of holds."> <a href="#">Jug</a></li>
      <li class="text-center hold" id="crimp" onclick="setHold(event)" data-movement="A <b>Crimp</b> or <b>Edge</b> is one of the most common hold types you will encounter outside on rock surfaces. An edge is usually a horizontal hold with a somewhat positive outside edge, although it can also be rounded. Edges are often flat, but sometimes have a lip so that you can also pull out on it. Edges can be as thin as a quarter or as wide as your whole hand, i.e. Jug. The name crimp, came from the crimp grip movement."> <a href="#">Crimp</a> </li>
      <li class="text-center hold" id="sloper" onclick="setHold(event)" data-movement="A <b>Sloper</b> is exactly how it sounds, a sloping handhold. Slopers are usually rounded and without a positive edge or lip for your fingers to grip. You will often encounter slopers on slab climbs, positive walls that lean inward instead of outward/overhang. Slopers are used with the open hand grip, requiring the friction of your skin against the rock surface. It takes practice to effectively use sloper handholds."> <a href="#">Sloper</a> </li>
      <li class="text-center hold" id="pinch" onclick="setHold(event)" data-movement="A <b>Pinch</b> is a handhold that is gripped by pinching it with your fingers on one side and your thumb opposed on the other. Pinches are usually edges that protrude from the rock surface like a book, although sometimes pinches are small knobs and crystals or two side-by-side pockets, which are griped as you would the finger holes in a bowling ball. Pinches are often small, requiring your fingers and thumb to be close toghether."> <a href="#">Pinch</a> </li>
      <li class="text-center hold" id="pocket" onclick="setHold(event)" data-movement="A <b>Pocket</b> is literally various-sized holes in the rock surface, which a climber uses as a handhold by putting anywhere from one finger to all four fingers inside the hole. Pockets come in all shapes from ovals to oblongs and in various depths. Shallow pockets are moredifficult to use than deep pockets. Pockets are commonly found on limestone cliffs like Ceuse in France and Shelf Road in Colorado."> <a href="#">Pocket</a> </li>
      <li class="text-center hold" id="palm" onclick="setHold(event)" data-movement="If no handholds exists, then you have to <b>Palm</b> the rock surface with an open hand, relying on hand-to-rock friction and pushing into the rock with the heel of your palm to keep your hand in place. Palming works great on slab climbs, where no clearly defined handholds exist and they also help save lots of arm strength because you push with your palm rather than pull with your hand and arm."> <a href="#">Palm</a> </li>
      <li class="text-center hold" id="gyms"><a href='#'>Gyms</li>
    </div>
  <!-- </div> -->

  </div>

  <div class="col-md-5 col-md-offset-3" id='holds'>
    <div class="jug text-center">
      <h1 id="type">Jug</h1>

      <img src='assets/jug.png' id="image"/>
    </div>
  </div>

  <!-- http://climbing.about.com/od/RockClimbingTechnique/tp/Nine-Basic-Types-Of-Climbing-Handholds.htm -->
  <div class="col-md-5 col-md-offset-8" id="movement">
    <h1 class="direction text-center"> Position & Movement</h1>
      <p class="rotation" id="rotation">
        A <b>Jug</b> is a horizontal rounded hold. Easiest of holds to pull down on it. Usually as wide as a whole hand, sometime used for matching, both hands on one hold.The movement is as if you were climbing up a ladder. The movement works best when you get lots of skin-to rock-friction. The use of chalk can increase friction. Practicing on these holds will help make your grip stronger and ready to pull on other types of holds.
      </p>
      <br>

      <button type="button" name="SidePull" onclick="setPosition(90, '#pull' )">SidePull</button>
      <button type="button" name="Undercling" onclick="setPosition(180, '#cling')">UnderCling</button>
      <button type="button" name="Gaston" onclick="setPosition(270, '#gas');">Gaston</button>
      <div class="position">
        <p id="pull" style="display:none">
          In this position, the jug handhold is know as a <b>Sidepull</b>, because you pull sideways on it instead of straight down. It is vertically or diagnolly oriented and is located to your side rather than above you when you are climbing. To create this move, you oppose the pulling force that your hand and arm exert on the hold with your feet or opposite hand.Usually, you will pull outward on the sidepull hold, while pushing a foot in the opposite direction with the opposing forces keeping you in place.
        </p>
        <p id="cling" style="display:none">
          One of my favorites, an <b>Undercling</b>, is a hold that is gripped on its underside with your fingers clinging to the outside edge of it. Underclings come in all shapes and sizes. This hold, requires body tension and opposition to work best. To make an undercling move, grip the upside-down hold with your palm facing up and your thumb pointing outward. Now move up on the hold by pulling out on the undercling and pasting yor feet against the wall below in opposition. Underclings work best if the hold is near your mid-section.
        </p>
        <p id="gas" style="display:none">
          A hold in this position is referred to as a <b>Gaston</b> (pronouced gas-tone), named for the stylish French climber Gaston Rebuffat, is similar to a sidepull. A Gaston is also, oriented either vertically or diagonally and is usually in front of your torso or face. To use a Gaston, grab the hold with your fingers and palm facing into the rock and your thumb pointing downward. Bend your elbow at a sharp angle and point it away from your body. Now crimp your fingers on the edge and pull outward like you're trying to open a sliding door.
        </p>
      </div>
  </div>

</div>
<div class="gym-list">

<table class="table-striped" style= 'display:none'>
  <thead>
    <tr>
      <th class="text-center">
        Location
      </th>
      <th class="text-center">
        Name
      </th>
      <th class="text-center">
        Address
      </th>
      <th class="text-center">
        Phone Number
      </th>
      <th class="text-center">
        Link
      </th>
    </tr>
  </thead>
  <tbody>
    <% @gyms.each do |gym| %>
    <tr>
      <td>
        <%= gym.location %>
      </td>
      <td>
        <%= gym.name %>
      </td>
      <td>
        <%= gym.address %>
      </td>
      <td>
        <%= gym.phone %>
      </td>
      <td>
        <%= gym.link %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
