<div class="row">
  <div class="col-md-2">
  <!-- <div id="sidebar"> -->
    <h1 class="text-center">Hold Types</h1>
    <h5 class="text-center">Click on each to view large image, description and rotational capabilities</h4>
    <div class="side-link">
    <!-- <ul> -->
      <li class="text-center hold" id="jug" onclick="setHold(event)" data-movement="A <b>Jug</b> is a horizontal rounded hold. Easiest of holds to pull down on it. Usually as wide as a whole hand, sometime used for matching, both hands on one hold.The movement is as if you were climbing up a ladder. The movement works best when you get lots of skin-to rock-friction. The use of chalk can increase friction. Practicing on these holds will help make your grip stronger and ready to pull on other types of holds." data-position ="180" data-text1 ="hi"> <a href="#">Jug</a></li>
      <li class="text-center hold" id="crimp" onclick="setHold(event)" data-movement="A <b>Crimp</b> or <b>Edge</b> is one of the most common hold types you will encounter outside on rock surfaces. An edge is usually a horizontal hold with a somewhat positive outside edge, although it can also be rounded. Edges are often flat, but sometimes have a lip so that you can also pull out on it. Edges can be as thin as a quarter or as wide as your whole hand, i.e. Jug. The name crimp, came from the crimp grip movement. Crimping is grabbing the edge with your fingertips flat on it and your fingers arched above the tips. Keep your thumb pressed against either the nuckle of your index finger or against the top pad of your index finger. This hand position is usually solid, but there is a danger of possible damage to your finger tendons if you crimp too hard."> <a href="#">Crimp</a> </li>
      <li class="text-center hold" id="sloper" onclick="setHold(event)" data-movement="A <b>Sloper</b> is exactly how it sounds, a sloping handhold. Slopers are usually rounded and without a positive edge or lip for your fingers to grip. You will often encounter slopers on slab climbs, positive walls that lean inward instead of outward/overhang. Slopers are used with the open hand grip, requiring the friction of your skin against the rock surface. It takes practice to effectively use sloper handholds. Slopers are easiest to use if they are above you rather than to the side so that you can keep your arms straight for maximum leverage when gripping them. Slopers are easiest to use in cool dry conditions, rather than in hot sweaty weather when you can grease off them. When you encounter a sloper, feel around with your fingers to find the best part of the hold. Sometimes you will find a slight ridge or bump that allows a better grip. Now wrap your hand onto the hold with your fingers close together. Feel around with your thumb to see if there is a bump that you can press it against."> <a href="#">Sloper</a> </li>
      <li class="text-center hold" id="pinch" onclick="setHold(event)" data-movement="A <b>Pinch</b> is a handhold that is gripped by pinching it with your fingers on one side and your thumb opposed on the other. Pinches are usually edges that protrude from the rock surface like a book, although sometimes pinches are small knobs and crystals or two side-by-side pockets, which are griped as you would the finger holes in a bowling ball. Pinches are often small, requiring your fingers and thumb to be close toghether. Pinch these small holds wih your index finger or your index and middle fingers, which when stacked on each other are much stronger than just the index finger. Wide pinches that are the width of your hand are usually the easiest to grip and hold onto. On these big pinches, oppose your thumb with all your fingers."> <a href="#">Pinch</a> </li>
      <li class="text-center hold" id="pocket" onclick="setHold(event)" data-movement="A <b>Pocket</b> is literally various-sized holes in the rock surface, which a climber uses as a handhold by putting anywhere from one finger to all four fingers inside the hole. Pockets come in all shapes from ovals to oblongs and in various depths. Shallow pockets are moredifficult to use than deep pockets. Pockets are commonly found on limestone cliffs like Ceuse in France and Shelf Road in Colorado. Usually you will insert as many fingers as you can comfortably fit into a pocket. Feel inside the pocket's floor with your finger tips to find dimples and lips that your fingers can pull against. Some pockets, especially ones that have a sloped floor, are also utilized as sidepulls, with the fingers pulling against the side of the pocket rather than the bottom. The best pockets to use are either three-finger or two-finger pockets, while the hardest and most strenuous pockets are one-finger or monodigit pockets. Be careful using one-finger pockets since you can severely stress and injure your finger tendons if you put your whole weight on the hold.  Whenever you use one- and two-finger pockets, always use your strongest fingers-the middle finger for monodigits and the middle and ring fingers for two finger pockets."> <a href="#">Pocket</a> </li>
      <li class="text-center hold" id="palm" onclick="setHold(event)" data-movement="If no handholds exists, then you have to <b>Palm</b> the rock surface with an open hand, relying on hand-to-rock friction and pushing into the rock with the heel of your palm to keep your hand in place. Palming works great on slab climbs, where no clearly defined handholds exist and they also help save lots of arm strength because you push with your palm rather than pull with your hand and arm. To use a palming handhold, find a dimple in the rock surface and turn your hand so your palm faces toward the rock. Next, press down on the rock with the heel of your hand below your wrist. Palming allows you to move a foot up to another foothold while your body weight is concentrated on the palm. Sometimes you can also use a palm on the vertical walls of a corner or dihedral, pressing your palms against the walls and opposing your arms and legs on either side of the sidewalls."> <a href="#">Palm</a> </li>
      <li class="text-center hold" id="gyms"><a href='#'>Gyms</li>
    </div>
  <!-- </div> -->

  </div>

  <div class="col-md-5 col-md-offset-3" id='holds'>
    <div class="jug text-center">
      <h1 id="type">Jug</h1>

      <img src='assets/jug.png' id="image"/>
    </div>
  </div>

  <!-- http://climbing.about.com/od/RockClimbingTechnique/tp/Nine-Basic-Types-Of-Climbing-Handholds.htm -->
  <div class="col-md-5 col-md-offset-8" id="movement">
    <h1 class="direction text-center"> Movement</h1>
      <p class="rotation" id="rotation">
        A <b>Jug</b> is a horizontal rounded hold. Easiest of holds to pull down on it. Usually as wide as a whole hand, sometime used for matching, both hands on one hold.The movement is as if you were climbing up a ladder. The movement works best when you get lots of skin-to rock-friction. The use of chalk can increase friction. Practicing on these holds will help make your grip stronger and ready to pull on other types of holds.
      </p>
      <button type="button" name="SidePull"></button>
      <button type="button" name="Undercling"></button>
      <button type="button" name="Gaston"></button>

  </div>

</div>
<div class="gym-list">

<table class="table-striped">
  <thead>
    <tr>
      <th>
        Location
      </th>
      <th>
        Name
      </th>
      <th>
        Address
      </th>
      <th>
        Phone Number
      </th>
      <th>
        Link
      </th>
    </tr>
  </thead>
  <tbody>
    <% @gyms.each do |gym| %>
    <tr>
      <td>
        <%= gym.location %>
      </td>
      <td>
        <%= gym.name %>
      </td>
      <td>
        <%= gym.address %>
      </td>
      <td>
        <%= gym.phone %>
      </td>
      <td>
        <%= gym.link %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
